version: 2.1
executors:
  fileparser-executor:
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:10.0
    working_directory: ~/FileParser

jobs:
  build:
    executor: fileparser-executor
    steps:
      - run:
          name: Install openssh client
          command: apt-get update && apt-get install -y openssh-client
      - checkout
      - run:
          name: Restore
          command: dotnet restore
      - run:
          name: Build
          command: dotnet build --no-restore -c Release /p:DeterministicBuild=true
      - run:
          name: Test
          command: dotnet test --no-build -c Release --logger trx --collect "Code coverage"